<!-- Dr_Mortazavi -->
<section class="page-section" id="{{ site.data.sitetext.Dr_Mortazavi.section | default: "Dr_Mortazavi" }}">
	<div class="container">

		<img src="assets/img/ali_main.jpg" width="340" height="300" alt="Camden Jansen"  class="Photos-Left"/>
		<p><h1>Dr. Ali Mortazavi</h1>
		<br/>
	  	<h2>Associate Professor</h2>
		</p>
		
		<h3 class="Margin-30px-Top Padding-10px-Left">Research Interests:</h3>
		<p class=" h-14px  Padding-20px-Right">
      I am a professor of Developmental and Cell Biology at the University of California, Irvine. 
      I am also a member of the UC Irvine Center for Complex Biological Systems and the Institute for Genomics and Bioinformatics. 
      My research interests are in the application of genomic methods to answer fundamental questions in the transcriptional regulation of development using a combination of 
      functional sequencing assays and computational methods. I am particularly interested in understanding how homologous gene regulatory networks are encoded in the human 
      and mouse genomes. I am also very focused on using long-read technologies to map full-length messenger RNA for quantification and discovery. 
      I also have a long-standing interest in the genomics of skeletal muscle development and FSHD muscular dystrophy, which is the result of a loss of DNA methylation 
      at the transcription factor DUX4.  My lab combines experimental work and computational analysis primarily in hematopoietic, skeletal muscle, and embryonic stem cells 
      in human, mouse and other mammals to understand which regulatory elements are conserved, which elements are not conserved but functional, and which elements regulates 
      what genes using a combination of ChIP-seq, DNA methylation, ATAC-seq and RNA-seq starting from ever low amounts as small as single cells and nuclei when practical. 
      I am an MPI on the current NHGRI-funded ENCODE Production Center for Transcriptome Analysis and the Core-leader of the Bioinformatics Core for the NIA-funded UCI 
      Center for better mouse models of Alzheimer’s Disease. Over the last five years, I have especially focused on developing novel applications of long-read transcriptome 
      sequencing and multiomics using bulk as well as single-cell data.
		</p>

	<div class="row">
  	<div class="col-lg-8 mx-auto text-center">
	  <div class="large text-muted">{{ site.data.sitetext.Dr_Mortazavi.subtext | markdownify }}</div>
	</div>
  	</div>
	</div>
</section>
<!-- End Dr_Mortazavi -->
