---
layout: default
---
{% include navheader.html %}

{% include publications.html %}

<link rel="stylesheet" type="text/css" href="stylebiblio.css">
<script type="text/javascript" src="bibtextohtml.js"></script>

<textarea hidden name="bibtex_input" id="bibtex_input" cols=50 rows=20>
<?php

    echo file_get_contents("francois.bib");


?>
< /textarea>



<div id="bibtex_errors"></div>



<div class="bibtex_template">
    <li>
    <a class="url"><span class="title"></span></a></br>
    <span class="author"></span></br>
    <span class="booktitle"></span>
    <span class="if publisher">
	<span class="publisher"></span>.
    </span>
    <span class="if pages">
      p. <span class="pages"></span>.
    </span>
    <span class="if year">
    <span class="year"></span></span>
    </br>
    <a class="bibtexCodeLink">
	    [bibtex]
    </a>
    </br></br>
  </li>

 </div>

<ol id="bibtex_display">
</ol>


